*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  background-color: #f6f7fb;
  color-scheme: light;
}

body {
  min-width: inherit;
  min-height: 100vh;
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}
